/*.a
/c-auto.h
/config.lt
/config.status
/ctangle
/ctangleboot
/ctangle.c
/ctie
/ctie.c
/cweave
/cweave.c
/cweb.c
/.deps
/ff-config.h
/.libs
/libtool
/lua*.c
/lua*.h
/lua*.p
/luatangle
/luatex
/luatex-tangle
/luatex-web2c
/Makefile
/mp-ctangle
/*.o
/*.pool
/stamp-h1
/stamp-h2
/stamp-tangle
/tangle
/tangleboot
/tangleboot.c
/tangleboot.h
/tangle.c
/tangle.h
/tangle.p
/tangle-web2c
/tie
/tie.c
