/*.a
/autom4te.cache
/c-auto.h
/config.lt
/config.status
/ctangle
/ctangleboot
/ctangle.c
/ctie
/ctie.c
/cweave
/cweave.c
/cweb.c
/.deps
/ff-config.h
/.libs
/libtool
/lua*.c
/lua*.h
/luatangle
/luatex
/luatex.pool
/luatex-tangle
/luatex-web2c
/Makefile
/mp-ctangle
/*.o
/*.p
/stamp*
/tangle
/tangleboot*
/tangle.c
/tangle.h
/tangle-web2c
/tie
/tie.c
